.contact-form {
    width: 511px;
    box-shadow: 0 28px 100px #c2dbeb;
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 63px;
    padding-top: 71px;
    padding-bottom: 40px;
    margin-right: 22px;
    flex-shrink: 0;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 339px;
        padding: 40px 25px;
        margin-right: 0;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 100%;
        padding: 40px 15px;
    }
}

.form-item {
    position: relative;
}

.fake-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    font-weight: 700;
    color: #bcbcbc;
    pointer-events: none;
    transition: .5s;
}

.fake-placeholder.active {
    top: -27px;
    color: #ed9626;
    font-size: 16px;
}

.form-item textarea.form-field {
    min-height: 120px;
}

.form-item + .form-item {
    margin-top: 48px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-top: 31px;
    }
}

.form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #eaeaea;
    height: 50px;
    font-size: 18px;
    font-weight: 700;

    transition: 0.3s ease-in;

    &:hover {
        border-bottom: 2px solid #ea736d; 
    }

    &:active {
        border-bottom: 2px solid #ea655f;
    } 
}

label.error {
    font-size: 14px;
    font-weight: 700;
    color: #ea736d;
}
