#page-nav {
    position: fixed;
    right: 80px;
    top: 50%;
    z-index: 100;

    /* Tablet */
    @media (max-width: 1199px) {
        display: none;
    }
}

#page-nav li {
    width: 14px;
    height: 14px;
    background-color: #ea736d;
    border-radius: 50%;
    margin-bottom: 26px;
    transition: .5s;
}

#page-nav li a {
    display: block;
    height: 100%;
}

#page-nav li.active {
    background-color: #89b4cb;
}